h1{
    text-align: center;
    background-color: cadetblue;
    border: darkblue 5px solid;
    width: 600px;
    
}
span{
    background-color: blueviolet;
    border: darkblue 5px solid;
    max-width: 600px;
    display: block;

}